*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    width: 100px;
} 
ul.li{
    
} 
ul{ 
    text-decoration: none;
    list-style: none;
   display: flex;
   width: 20px;
    height: 20px;
    padding: 10px;
}